.out
{
    height: 100vh;
    width: 100vw;
}
body
{
    margin:0%;
    overflow: hidden;
}
.o1
{
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}